button a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 30px;
}

li {
  border: 1px solid darkgray;
  list-style-type: none;
  text-align: left;
  padding: 15px 50px 15px 50px;
}

h3 {
  font-size: medium;
}

h2 {
  color: navy;
}

.editIcon {
  color: black;
  font-size: large;
}

.editIcon:hover {
  color: red;
}

.btn {
  margin: 10px;
}

.transparentButton {
  background: transparent;
  border: none;
}
